@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditCategory</h1>

@using(Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    @Html.HiddenFor(x => x.CategoryID)
    <div class="form-group">
        @Html.Label("Kategori Id")
        @Html.TextBoxFor(x => x.CategoryID, new {@class = "form-control", @readonly = "readonly"})
        <br />
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
    </div>
}